body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(36, 33, 33, 0.779);
  color: #000000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  color: red;
  font-size: 40px;
  font-weight: bold;
}

.container {
  margin: 20px auto;
  max-width: 1150px;
  padding: 30px;
  min-height: 100vh;
  background: rgba(32, 32, 34, 0.81);
  border-radius: 10px;
  animation: slideIn 0.3s alternate;
  box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.note.new {
  background-color: #3c4241;
}

textarea {
  border: none;
  resize: none;
  background-color: #3c4241;
}

textarea:focus {
  outline: none;
}

.save {
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.save:hover {
  background-color: #ededed;
  cursor: pointer;
}

.note {
  background-color: #65746c;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  color: white;
  transform: scale(1);
  animation: slideIn 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0,0,0,0.7);
}
/*Slidein animation  */
@keyframes slideIn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.note:hover {
  transform: scale(1.03);
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon {
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
}

.search input {
  border: none;
  background-color: rgb(233, 233, 233);
  width: 100%;
}

.search input:focus {
  outline: none;
}
